<html>
<head>
    <meta charset="UTF-8">
    <title>BeeNavigator</title>
    <title>Регистрация пользователей</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >

</head>

<body>


<div class="mx-auto" style="width: 350px;">
    <div class="input-group input-group m-5">
        <label for="username" >Форма для регистрации новых пользователей. Логин необходимо ввести от Windows. Пароль от 5 символов. Нажимаете "Сохранить" Новый пользователь автоматически будет добавлен. </label>

        <form class="px-4 py-3" action="/registration" method="post">
            <div class="form-group" >
                <label for="username" >Логин от Windows</label>
                <input type="text" class="form-control"  name="username" placeholder="Логин от Windows">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

            </div>
            <div class="form-group">
                <label for="password">Придумать пароль от 5 символов</label>
                <input type="password" class="form-control" name="password" placeholder="Пароль от 5 символов">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

            </div>
            <button type="submit" class="btn btn-dark">Сохранить</button>
        </form>
    </div>
</div>

<footer>
    <div class="navbar ">
        <div class="navbar-light bg-light fixed-bottom">
            <span class="navbar-brand mb-3	"></span>
            <p class="text-center">Beeline © 2020</p>
        </div>
    </div>
</footer>

<!-- Подключаем jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Подключаем Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>


</body>
</html>